*
{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.navbar
{
  background-color: ;
  display: flex;
  justify-content: center;
}
.navbar a
{
  color: black;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  padding: 14px 28px;
  font-family: 'Poppins', sans-serif;
}
.navbar a:hover
{
  background-color: black;
  color: white;
}
.inactiveLink {
  pointer-events: none;
  cursor: default;
  font-family: 'Open Sans', sans-serif;
}
.content p
{
  text-align: justify;
  margin: 10px;
  padding: 10px;
}
#toggle
{
  display: none;
}
.togglearea
{
  background-color: ;
  border-bottom: 2px solid white;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
.togglearea label
{
  background-color: ;
  height: 45px;
  width: 50px;
  color: black;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.togglearea label span
{
  background-color: black;
  height: 4px;
  width: 70%;
  margin: 2px 0px;
}
.togglearea
{
  display: none;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container {
  padding: 0 16px;
}
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}
.container p, .container h2 , .contact{
 font-family: 'Poppins', sans-serif;
}
.title {
  color: grey;
}
.myButton {
  background:linear-gradient(to bottom, #8a3ab9 5%, #bc2a8e 100%);
  background-color:#8a3ab9;
  border-radius:28px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:17px;
  font-weight:bold;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
  background:linear-gradient(to bottom, #bc2a8e 5%, #8a3ab9 100%);
  background-color:#bc2a8e;
}
.myButton:active {
  position:relative;
  top:1px;
}
@media screen and (max-width: 700px)
{
  .navbar
  {
    flex-direction: column;
    display: none;
  }
  #toggle:checked + .navbar
  {
    display: flex;
  }
  .togglearea
  { 
    display: flex;
  }
}
